{% extends "ArqBundle::layout.html.twig" %}

{% block encabezado %}
    Pagina Principal
{% endblock %}

{% block datos %}
 <div><a href="{{url('arq_homepage')}}">Home</a></div>  
 <div> <a href="{{url('arq_crearCalle')}}">Crear Calle</a></div>

{% endblock %}


{% block pie %}
    Probando 3

{% endblock %}
